[workspace]
members = ["packages/*",
"contracts/collection/*",
"contracts/factory/*",
"contracts/minter/*",
"contracts/market/*"
]

[workspace.package]
version       = "0.1.0-rc1"
edition       = "2021"
license       = "Apache-2.0"
repository    = "https://github.com/bitsongofficial/bs-nfts"
homepage      = "https://bitsong.io"
documentation = "https://docs.bitsong.io"

[workspace.dependencies]
cosmwasm-schema = "1.5.5"
cosmwasm-std    = "1.5.5"
cw-controllers = { version = "1.1.2" }
cw2             = "1.1.2"
cw20            = "1.1.2"
cw721           = "0.18.0"
cw721-base      = "0.18.0"
bs721           = { version = "0.1.0-rc1", path = "./packages/bs721" }
bs-profile           = { version = "0.1.0-rc1", path = "./packages/bs-profile" }
bs721-profile      = { version = "0.1.0-rc1", path = "./contracts/collection/bs721-profile" }
bs721-base      = { version = "0.1.0-rc1", path = "./contracts/collection/bs721-base" }
bs721-royalties = { version = "0.1.0-rc1", path = "./contracts/collection/bs721-royalties" }
bs721-factory   = { version = "0.1.0-rc1", path = "./contracts/factory/bs721-factory" }
cw-multi-test    = "1.1.0"
cw-storage-macro = "1.2.0"
cw-storage-plus = "1.2.0" 
cw-utils        = "1.0.3"
cw-ownable      = "0.5.1"
schemars        = "0.8.10"
semver = "1.0"
serde           = { version = "1.0.140", default-features = false, features = ["derive"] }
thiserror       = "1.0.31"
url             = "2.2.2"
bs-std           = { version = "0.1.0-rc1", path = "./packages/bs-std" }
bs-controllers        = { version = "0.1.0-rc1", path = "./packages/controllers" }

[profile.release.package.bs721-base]
codegen-units = 1
incremental = false

[profile.release.package.bs721-curve]
codegen-units = 1
incremental = false

[profile.release.package.bs721-factory]
codegen-units = 1
incremental = false

[profile.release.package.bs721-launchparty]
codegen-units = 1
incremental = false

[profile.release.package.bs721-royalties]
codegen-units = 1
incremental = false

[profile.release]
rpath = false
lto = true
overflow-checks = true
opt-level = 3
debug = false
debug-assertions = false
